{% extends "base.html" %}

   {% block title %}Главная{% endblock %}

   {% block content %}
   <h1>Добро пожаловать на Главную страницу!</h1>
<p> Мы рады приветствовать вас на нашем сайте.
   Здесь вы найдете всю необходимую информацию о наших услугах, новостях и последних обновлениях. Мы предоставляем широкую гамму услуг для удовлетворения всех ваших потребностей.
   Ознакомьтесь с нашими предложениями и свяжитесь с нами, если у вас возникнут какие-либо вопросы. </p>
   {% endblock %}