{% extends "base.html" %}

   {% block title %}О проекте{% endblock %}

   {% block content %}
   <h1>О проекте</h1>
   <p>Проект предназначен для управления библиографическими данными в научных статьях.
      Система позволяет пользователям добавлять, удалять, редактировать и просматривать научные публикации и связанные с ними метаданные.
      Также предусмотрена возможность поиска и фильтрации данных по различным критериям,
      что значительно облегчает работу исследователей
      и помогает в проведении литературного обзора.</p>
   {% endblock %}
