<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>{% block title %}Блог{% endblock %}</title>
       {% block head %}{% endblock %}
       <style>
           body {
               background-color: AliceBlue;
           }
           {% block style %}{% endblock %}
       </style>
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
       <header>
           <nav>
               {% include 'includes/menu.html' %}
           </nav>
       </header>
       <main class="container mt-4">
           {% block content %}{% endblock %}
       </main>
       <footer>
           {% block footer %}{% endblock %}
       </footer>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
       {% block scripts %}{% endblock %}
   </body>
   </html>
